<a href="/dashboard" class="<%= locals.linkClass || '' %>"><i class="fas fa-user"></i> Dashboard</a>
<a href="/settings" class="<%= locals.linkClass || '' %>"><i class="fas fa-cog"></i> Settings</a>
<a href="#" onclick="logout()" class="<%= locals.linkClass || '' %>"><i class="fas fa-sign-out-alt"></i> Logout</a>